.content-container {
    background: white;
    width: 1240px;
    margin: 0 auto;
    margin-bottom: 50px;
    height: 100%;
    top: 0;
    bottom: 0;
    padding-bottom: 75px;
    padding-top: 46px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  }
  
  .content-wrapper {
    min-height: 100vh;
    padding: 0 30px;
  }
  
  .content-playlist-main-wrapper {
    display: block;
    margin-right: 330px;
    padding-top: 30px;
    border-right: 1px solid #eaeaea;
  }
  
  
  .content-playlist-li {
    margin-bottom: 34px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .content-playlist-li:last-child {
    margin-bottom: 0px;
    border: none;
  }
  
  .content-playlist-wrapper {
    min-height: 100vh;
    position: relative;
    padding-right: 30px;
  }
  
  .content-playlist-header-wrapper {
    margin-bottom: 24px;
    margin-top: 10px;
  }
  
  .content-playlist-header {
    font-size: 23px;
    color: #333;
  }
  
  .content-playlist-header-description {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .content-list-item {
    width: 172px;
    margin-bottom: 34px;
    margin-right: 20px;
    animation: background-in-comment;
    animation-duration: 0.9s;
  }
  
  .content-list-item-title-link {
    display: contents;
    text-decoration: none;
    color: #111;
    font-size: 14px;
  }
  
  .content-list-item-uploader {
    font-size: 11px;
  }
  
  .content-item-username-link {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #999;
    text-decoration: none;
    transition: 0.2s;
  }
  
  .content-list-item-genre {
    font-size: 11px;
    color: #999;
  }
  
  .content-list-item-wrapper {
    color: #111;
    text-decoration: none;
  }
  
  .content-list-item-img-link {
    display: flex;
    height: 172px;
    width: 172px;
  }
  
  .content-list-item-playbtn-container {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    width: 60px;
    margin: auto;
  }
  
  .content-list-item-img-wrapper {
    position: relative;
    cursor: pointer;
  }
  
  .content-list-item-img {
    height: 172px;
    width: 172px;
  }
  
  .content-list-item-img-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: linear-gradient( 0deg ,rgba(0,0,0,.4),transparent);
    opacity: 0;
    transition: 0.3s;
  }
  
  .content-list-item-img-wrapper:hover {
    .content-list-item-playbtn-container {
      display: block
    }
    .content-list-item-img-footer {
      opacity: 1;
    }
  }
  
  
  .content-list-item-description div{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    margin-top: 5px;
    line-height: 1.4;
  }
  
  .content-description {
    color: #111;
    font-size: 14px;
    padding: 10px 0;
  }
  
  .content-list-ul {
    display: flex;
    flex-direction: row;
    overflow: auto;
  }
  
  .homepage-spinner {
    position: absolute;
  
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0px auto;
  }