.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(238, 238, 238, 0.9);
  z-index: 10;
}

.modal-child {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 450px;
  height: 550px;
}

.modal-input {
  display: inline-block;
  background-color: white;
  color: black;
  border: 1px solid gray;
  font-size: 18px;
  margin-left: 25px;
  border-radius: 5px;
  margin-top: 10px;
  height: 35px;
  width: 395px;
}

.modal-button1 {
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  height: 40px;
  width: 400px;

  margin-left: 25px;
  background-color: #1479cc;
  color: white;
  border-radius: 5px;
  border: none

}
.modal-button2 {
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  height: 40px;
  width: 400px;
  margin-left: 25px;
  margin-top: 10px;
  background-color: #ff5502;
  border-radius: 5px;
  border: none;
  color: white;
}

p {
  color: #a5a3a2;
  font: 100 14px/1.5 Interstate, Lucida Grande, Arial, sans-serif;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 50px
}


.or-with-bars {
  font: 100 14px/1.5 Interstate, Lucida Grande, Arial, sans-serif;
  color: black;
  margin: 1em auto;
  position: relative;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  width: 90%;
  
  &:before {
    left: 0;
    width: 43%;
    border-top: 1px solid black;
    content: " ";
    position: absolute;
    top: .5em;
  }  
  &:after {
    right: 0;
    width: 43%;
    border-top: 1px solid black;
    content: " ";
    position: absolute;
    top: .5em;
  }
}