.navbar {
    margin-left: -20px;
    margin-top: -8px
}

.nav-holder {
    width: 100vw;
    height: 46px;
    display: flex;
    background-color: #333;
}

.firstbar {
    width: 150px;
    height: 46px;
    display: flex;
    background-color: #333;
}

.logo {
    text-decoration: none;
    height: 46px;
    width: 110px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: #ff5502;
    font-size: 50px;
    color: #fff;
    border: none;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.logo i {
    font-size: 25px;
}

.header-nav {
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding: 12px 1px 12px 0px;
    border: none;
    border-right: 1px solid #111;
    box-sizing: border-box;
    text-align: center;
    height: 46px;
    width: 110px;
    color: #ccc;
    background-color: #333;
    font: 70 14px/1.5 Interstate, Lucida Grande, Arial, sans-serif;
}

.discover-search {
    margin-top: 1px;
    appearance: none;
    padding: 9px 10px 8px 10px;
}

.discover-search > input {
    padding: 5px 7px 5px 7px;
    background-color: #e5e5e5;
    border-radius: 5px;
    width: 313px;
    height: 18px;
    border: none;
    word-spacing: normal;
    letter-spacing: normal;
    text-rendering: auto;
    text-align: start;
    font: 400 13.3333px Arial;
}