.play-control {
    color: rgb(170, 168, 168);
    font-size: 24px;
    display: flex;
}

.play-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    cursor: pointer;
    margin: auto;
}